.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-bottom: 15px;
}

.form-container input,
.form-container textarea {
  border: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 5px;
}

.form-container input:focus {
  outline: none;
  border: 2px solid #aaa;
}

.form-container .description {
  resize: none;
  height: 80px;
  padding: 5px;
}
