.education {
  padding: 10px 30px;
}

.education-title {
  color: #143e72;
  font-size: 1.2rem;
  font-weight: bold;
}

.experience hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
